.scroll {
    overflow-y: auto;
    height: 380px;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}
.but_bottom {
    padding: 14px;
    border-radius: 11px;
    border: none;
    font-family: font;
    margin: 3%;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: white;
}
.but_bottom:disabled {
    cursor: not-allowed;
    background: #928383;
    color: black;
}
.scroll_list {
    overflow-y: auto;
    height: 215px;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}
.table_data {
    border: 1px solid #dddddd;
    padding: 4px;
    font-family: font;
}
.table_head_data {
    text-align: center;
}
.all_contacts {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.count {
    font-size: 20px;
    margin: 1% auto;
    float: right;
    padding-right: 30px;
    font-family: font;
    color: #000000;
}
.table_row:nth-child(even) {
    background: rgb(214, 214, 214);
}
.main_buttons {
    float: right;
    padding: 1% 5%;
    margin-right: 2%;
    margin-bottom: 1%;
    background: black;
    border-radius: 10px;
    box-shadow: gray;
    font-family: font;
    color: white;
    cursor: pointer;
    border: none;
}
.addnewBut {
    float: right;
    padding: 14px 42px;
    margin-right: 2%;
    margin-bottom: 1%;
    background: black;
    border-radius: 10px;
    box-shadow: gray;
    font-family: font;
    color: white;
    cursor: pointer;
    border: none;
}
.main_buttons_pop {
    padding: 1% 5%;
    margin-bottom: 1%;
    background: black;
}
.existingList {
    padding-top: 2%;
}
.listMailBut {
    overflow: auto;
    margin-top: 1%;
}
.button_send {
    margin-left: 10px;
}
.headers {
    font-size: 32px;
    font-family: font;
    text-align: center;
    display: block;
    width: 21%;
    margin: 0;
}
.buttonSend {
    float: right;
    clear: both;
}
.add_new_header {
    font-size: 24px;
    font-family: font;
    text-align: center;
    display: block;
    margin: 3% 0;
    color: black;
}
.list_input {
    text-indent: 2%;
    outline: none;
    padding: 10px 0px;
    font-size: 14px;
    margin: 5px 0px;
    border: solid 1px #735a73;
    border-radius: 10px;
}
.list_input:focus::-webkit-input-placeholder {
    color: transparent;
}
.list_input:focus:-moz-placeholder {
    color: transparent;
}
.list_input:focus::-moz-placeholder {
    color: transparent;
}
.list_input:focus:-ms-input-placeholder {
    color: transparent;
}
.edit_mode {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 6, 0, 0.4);
    display: flex;
}
.edit_delete {
    margin: 0px 8px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(0, 188, 212)
}
.edit_input {
    width: 65%;
}
.edit_form {
    background-color: lightslategray;
    width: 47%;
    overflow: auto;
    text-align: center;
    margin: auto;
}
.del {
    background: rgb(255, 64, 129);
    color: white;
    margin: 0 2%;
}
.pop {
    float: right;
}
.upload {
    padding: 14px;
    margin-left: 2%;
    border-radius: 11px;
    border: none;
    font-family: font;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: white;
}
.uploadFile {
    clear: both;
    overflow: auto;
    margin-top: 20px;
    margin-left: 5px;
}
.edit_mode_form {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 6, 0, 0.4);
    display: flex;
}
.buttons_up {
    width: 80%;
    margin-top: 20%;
    overflow: hidden;
}
.main_buttons_up {
    padding: 5% 5%;
    margin-bottom: 1%;
    background: black;
}
.edit_form_upl {
    padding: 3%;
    background-color: lightslategray;
    width: 24%;
    text-align: center;
    margin: auto;
}
.upl_buttons {
    clear: both;
    width: 80%;
}
.chooseFile {
    background-color: #dddddd;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.checkbox {
    text-align: center;
}
.delList {
    margin-top: 1%;
}
.createList {
    float: left;
    width: 39%;
    margin-right: 2%;
    border-radius: 10px;
    font-family: font;
    color: white;
    border: none;
    margin-top: 3%;
    clear: both;
    padding-left: 1%;
}
.btn-left {
    float: left;
    margin-top: 3%;
}
.listName {
    padding: 12px 20px;
    font-size: 14px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 11px;
    margin: 3%;
    font-family: font;
}
.listName:disabled {
    cursor: not-allowed;
    background: #ccc;
    font-family: font;
}
.selectJoin {
    margin: 3% auto;
    width: 70%;
    height: 28px;
    overflow: hidden;
    background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
    border: #FEFEFE 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}
.selectJoin select {
    margin: auto;
    background: transparent;
    width: 100%;
    font-size: 12pt;
    color: grey;
    border: 0;
    border-radius: 0;
    height: 28px;
    -webkit-appearance: none;
}
.selectJoin select:focus {
    outline: none;
}
.del:disabled {
    cursor: not-allowed;
    background: burlywood;
    color: black;
}
.view_list {
    background: #FF9800;
    margin: 0px 8px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
}
.send-div {
    display: block;
}
.send_email {
    background: #795548;
}
.send_email_template {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 22% 0%;
    background-color: rgba(0, 6, 0, 0.2);
}
.del:disabled {
    cursor: not-allowed;
    background: burlywood;
    color: black;
}
.send_email {
    background: #795548;
}
.send_template {
    margin: 10px 72px;
    background: rgb(0, 188, 212);
}
.deleteContacts {
    margin-top: 1%;
}
.select_email_list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 22% 0%;
    background-color: rgba(12, 12, 10, 0.74);
    text-align: center;
}
.add_to_list {
    float: right;
    padding: 1% 5%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: black;
    border-radius: 10px;
    box-shadow: gray;
    font-family: font;
    color: white;
    cursor: pointer;
    border: none;
}
.add_to_list_del {
    background: rgb(255, 64, 129);
    color: white;
    margin: 0 2%;
}
.add_to_list:disabled {
    cursor: not-allowed;
    background: burlywood;
    color: black;
}
.send_template:disabled {
    cursor: not-allowed;
    background: burlywood;
    color: black;
}
.mail_data {
    color: blue;
}
.multiplePopUp {
    overflow: auto;
    margin: 0 auto;
    text-align: center;
    width: 80%
}
.multi_delete {
    padding: 10px 35px;
    color: white;
    background: rgb(0, 0, 0);
    cursor: pointer;
    margin: 0 3%;
    border: none;
}
.del_header {
    font-size: 24px;
    font-family: font;
    text-align: center;
    display: block;
    margin: 3% 0%;
}
.del_contact {
    margin: 3% 0;
    font-size: 24px;
    font-family: font;
}
.delete_mode {
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    width: 45%;
    background: rgb(169, 156, 169);
    border-radius: 18px;
}
.createList_but {
    margin-top: 2%;
    margin-right: 2%;
    background: black;
    border-radius: 10px;
    box-shadow: gray;
    font-family: font;
    color: white;
    cursor: pointer;
    border: none;
    padding: 3%;
    margin-left: 6%
}
.choose {
    padding: 2%;
    margin-top: 0%;
    border-radius: 11px;
    float: left;
}
.mainBlock {
    margin-top: 3%;
}
.maillist_input {
    text-indent: 2%;
    outline: none;
    padding: 10px 0px;
    font-size: 14px;
    margin: 5px 0px;
    border: solid 1px #735a73;
    border-radius: 10px;
    width: 85%;
}
.closelist {
    margin-bottom: 7px;
    float: right;
}
.del_list_but {
    margin-top: 14px;
}
.select_template {
    padding: 6px;
    width: 80%;
}
.select_template_list {
    padding: 6px;
    width: 35%;
}
.contacts_status {
    text-align: center;
    color: #3a373a;
    font-family: font;
    margin-top: 3%;
    font-size: 22px;
}
.main_buttons_list {
    float: right;
    padding: 1% 5%;
    margin-bottom: 1%;
    margin-right: 2%;
    background: black;
    border-radius: 10px;
    box-shadow: gray;
    font-family: font;
    color: white;
    cursor: pointer;
    border: none;
}
.upl {
    width: 40%;
}
.submit_btn {
    background: black;
    padding: 11px;
    border-radius: 11px;
    color: white;
    cursor: pointer;
}
@media (max-width: 850px) {
    .closelist {
        float: left;
        margin-top: 7px;
    }
    .view_list {
        width: 91px;
    }
    .send_email {
        width: 110px;
    }
    .add_new_header {
        font-size: 22px;
    }
    .maillist_input {
        width: 90%;
    }
    .select_template {
        width: 90%;
    }
    .send_template {
        margin: 2% 4%;
    }
    .upl {
        float: left;
        margin-left: 7%;
        margin-top: 3%;
    }
    .submit_btn {
        float: left;
        margin-left: 7%;
    }
    .edit_form {
        width: 80%;
    }
    .edit_form_upl{
        padding: 3% 0%;
        width: 40%;
    }
    .but_bottom {
        display: block;
    }
    .listName {
        margin-left: 3%;
        margin-bottom: 1%;
        margin-top: 1%;
    }
}
@media (max-width: 550px) {
    .add_new_header {
        font-size: 15px;
    }
    .del_contact {
        font-size: 15px;
    }
    .contacts_status {
        margin-top: 8%;
        font-size: 17px;
    }
    .main_buttons_list {
        padding: 3% 5%;
    }
    .select_template_list {
        width: 80%;
    }
    .edit_form_upl{
        padding: 3% 0%;
        width: 80%;
    }
}